{{ define "main" }}
  <!-- aside header -->
  <aside>
    <div class="bg-gradient-to-b from-[#DE084A] to-[#DE084A] relative z-10">
      <div class="text-white max-w-screen-xl px-4 pt-20 mx-auto lg:items-center lg:flex">
        <div class="max-w-xl mx-auto">
          <h1 class="text-3xl font-extrabold sm:text-5xl">
            Advertising Text to Catch Attention.
          </h1>

          <p class="mt-4 sm:leading-relaxed text-xl sm:text-2xl font-thin">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor consetetur invidunt ut labore et dolore magna aliquyam.
          </p>

          <div class="flex flex-wrap justify-left gap-4 mt-8">
            <a class="text-center block w-full px-12 py-3 text-[#DE084A] bg-white rounded shadow sm:w-auto hover:text-[#DE084A] active:text-red-500 focus:outline-none focus:ring" href="/services">
              Find Out More
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="skew-y-2 h-40 bg-[#DE084A] -translate-y-20 relative z-0"></div>
  </aside>

  <!-- some page content -->
  <div class="px-4 pb-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:pb-20">
    <div class="grid gap-8 row-gap-5 lg:grid-cols-3">

      <div class="relative p-px overflow-hidden transition duration-300 border rounded shadow-sm hover:scale-105">
        <div class="relative p-5 bg-[#0E7491] rounded-sm">
          <div class="flex flex-col mb-4 lg:items-center lg:flex-row">
            <h6 class="leading-5 text-2xl font-thin text-white">The quick, brown fox</h6>
          </div>
          <p class="mb-5 text-sm text-gray-100">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque rem aperiam.
          </p>
          <p class="text-right">
            <a href="/" aria-label="" class="content-end text-sm font-semibold text-white">Learn more →</a>
          </p>
        </div>
      </div>

      <div class="relative p-px overflow-hidden transition duration-300 border rounded shadow-sm hover:scale-105">
        <div class="relative p-5 bg-[#DE084A] rounded-sm">
          <div class="flex flex-col mb-4 lg:items-center lg:flex-row">
            <h6 class="leading-5 text-2xl font-thin text-white">The quick, brown fox</h6>
          </div>
          <p class="mb-5 text-sm text-gray-100">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque rem aperiam.
          </p>
          <p class="text-right">
            <a href="/" aria-label="" class="content-end text-sm font-semibold text-white">Learn more →</a>
          </p>
        </div>
      </div>

      <div class="relative p-px overflow-hidden transition duration-300 border rounded shadow-sm hover:scale-105">
        <div class="relative p-5 bg-[#B2A719] rounded-sm">
          <div class="flex flex-col mb-4 lg:items-center lg:flex-row">
            <h6 class="leading-5 text-2xl font-thin text-white">The quick, brown fox</h6>
          </div>
          <p class="mb-5 text-sm text-gray-100">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque rem aperiam.
          </p>
          <p class="text-right">
            <a href="/" aria-label="" class="content-end text-sm font-semibold text-white">Learn more →</a>
          </p>
        </div>
      </div>  

      <div class="relative p-px overflow-hidden transition duration-300 border rounded shadow-sm hover:scale-105">
        <div class="relative p-5 bg-white rounded-sm">
          <div class="flex flex-col mb-4 lg:items-center lg:flex-row">
            <h6 class="leading-5 text-2xl font-thin">The quick, brown fox</h6>
          </div>
          <p class="mb-5 text-sm text-gray-900">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque rem aperiam.
          </p>
          <p class="text-right">
            <a href="/" aria-label="" class="content-end text-sm font-semibold text-[#DE084A]">Learn more →</a>
          </p>
        </div>
      </div>

      <div class="relative p-px overflow-hidden transition duration-300 border rounded shadow-sm hover:scale-105">
        <div class="relative p-5 bg-white rounded-sm">
          <div class="flex flex-col mb-4 lg:items-center lg:flex-row">
            <h6 class="leading-5 text-2xl font-thin">The quick, brown fox</h6>
          </div>
          <p class="mb-5 text-sm text-gray-900">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque rem aperiam.
          </p>
          <p class="text-right">
            <a href="/" aria-label="" class="content-end text-sm font-semibold text-[#DE084A]">Learn more →</a>
          </p>
        </div>
      </div>

      <div class="relative p-px overflow-hidden transition duration-300 border rounded shadow-sm hover:scale-105">
        <div class="relative p-5 bg-white rounded-sm">
          <div class="flex flex-col mb-4 lg:items-center lg:flex-row">
            <h6 class="leading-5 text-2xl font-thin">The quick, brown fox</h6>
          </div>
          <p class="mb-5 text-sm text-gray-900">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque rem aperiam.
          </p>
          <p class="text-right">
            <a href="/" aria-label="" class="content-end text-sm font-semibold text-[#DE084A]">Learn more →</a>
          </p>
        </div>
      </div>

      <div class="relative p-px overflow-hidden transition duration-300 border rounded shadow-sm hover:scale-105">
        <div class="relative p-5 bg-white rounded-sm">
          <div class="flex flex-col mb-4 lg:items-center lg:flex-row">
            <h6 class="leading-5 text-2xl font-thin">The quick, brown fox</h6>
          </div>
          <p class="mb-5 text-sm text-gray-900">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque rem aperiam.
          </p>
          <p class="text-right">
            <a href="/" aria-label="" class="content-end text-sm font-semibold text-[#DE084A]">Learn more →</a>
          </p>
        </div>
      </div>

      <div class="relative p-px overflow-hidden transition duration-300 border rounded shadow-sm hover:scale-105">
        <div class="relative p-5 bg-white rounded-sm">
          <div class="flex flex-col mb-4 lg:items-center lg:flex-row">
            <h6 class="leading-5 text-2xl font-thin">The quick, brown fox</h6>
          </div>
          <p class="mb-5 text-sm text-gray-900">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque rem aperiam.
          </p>
          <p class="text-right">
            <a href="/" aria-label="" class="content-end text-sm font-semibold text-[#DE084A]">Learn more →</a>
          </p>
        </div>
      </div>

    </div>
  </div>
{{ end }}
